@{
    ViewBag.Title = "About Us";
}
<h2 style="text-decoration:underline">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We're the world's leading provider of web-based survey solutions, trusted by millions of companies, organizations and individuals alike to gather the insights they need to make more informed decisions. But you know all that. Here’s a bit more about the SurveyBoard:</p>

<br>
<h3>Who we are</h3>
<p>We're a smart, passionate group of people who work really hard so you don't have to. We strive to make our tools powerful enough for professional researchers, yet easy enough for a survey novice. And we pack our solutions with over  1 year of experience in survey methodology and web technology so you can be confident in the quality of the data.</p>

<br>
<h3>Our Mission</h3>
<p>We want to help you make better decisions. That’s it. That’s all. That’s what drives us. We want to make it as easy as possible for you to get at the knowledge you need to make smart, informed choices. And after 10 years, we’re still challenging ourselves to deliver simple, powerful solutions. We’re dedicated to making even the most advanced research design easy enough for anyone – and everyone – to use.</p>

<br>
<h3>Who uses SurveyBoard?</h3>
<p>Chances are you know someone who is hooked on the Monkey. Our customers include 100% of the Fortune 100, as well as other businesses, academic institutions, and organizations of all shapes and sizes. Literally millions of people use SurveyBoard for everything from customer satisfaction and employee performance reviews, to course evaluations and research of all types.</p>