@{
    ViewBag.Title = "How to Contact Us";
}
<h2 style="text-decoration:underline">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    SMVDU,Katra<br />
    Jammu, India - 182320<br />
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@surveyboard.com">Support@surveyboard.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@surveyboard.com">Marketing@surveyboard.com</a>
</address>