@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SurveyBoard</h1>
    <p class="lead">SurveyBoard is an online survey system for create and publish online surveys in minutes, and view results graphically and in real time. </p>
    <p><a href="@Url.Action("About","Home")" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>We make it easier than ever to create polls and survey questionnaires for learning about anything from customer satisfaction to employee engagement.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About","Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need to Reach a Targeted Audience?</h2>
        <p>Looking for the right people to fill out your survey? Meet SurveyBoard Audience, home to millions of qualified respondents ready to take your surveys and give you the feedback you need to make better decisions.</p>
        <p><a class="btn btn-default" href="@Url.Action("About","Home")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SurveyBoard Enterprise</h2>
        <p>Give your entire team access to our powerful online survey platform. SurveyMonkey Enterprise helps anyone in any function use surveys to make smarter decisions, while your organization gets complete control of your data, users and billing.</p>
        <p><a class="btn btn-default" href="@Url.Action("About","Home")">Learn more &raquo;</a></p>
    </div>
</div>